// * Layout * //

//
// Delcarations that are theme agnostic go in this file
//

body {
    color: @darkest;
    font-family: @sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1 {
    font-size: 48px;
    line-height: 1;
}

h2 {
    font-size: 36px;
    line-height: 1;
}

h3 {
    font-size: 24px;
    line-height: 1;
}

h4 {
    font-size: 20px;
    line-height: 1.2;
}

h5 {
    font-size: 16px;
    line-height: 1.5;
}

h6 {
    font-size: 12px;
    line-height: 1;
}

p {

}

// Hiding
// ==========================================================================

// Hide from browsers & screen readers

.hidden {
    display: none;
    visibility: hidden;
}

// Hide from browsers only

.screen-reader {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

// Clearing
// ==========================================================================

// Don't use this when you can avoid it with overflow: hidden
// on elements that don't have dimensions. This should be used
// exclusively as a mixin, never as a class.

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
