// * Typography * //

::-moz-selection {
    background-color: #3cf;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: #3cf;
    color: #fff;
    text-shadow: none;
}

body {
    color: @darkest;
    font-family: @sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 24px;
}

h1 {
    .heading1();
}

h2 {
    .heading2();
}

h3 {
    .heading3();
}

h4 {
    .heading4();
}

h5 {
    .heading5();
}

h6 {
    .heading6();
}
