// * Global Variables * //

// ==========================================================================
// Colors
// ==========================================================================

// Grays
@black: #000;
@darkest: #222;
@darker: #444;
@dark: #666;
@light: #888;
@lighter: #aaa;
@lightest: #ccc;
@white: #fff;

// Base colors
@background: @white;
@foreground: @black;

// Links
@link: #009;
@link-hover: lighten(@link, 10%);

// ==========================================================================
// User-Interaction Responses
// ==========================================================================

// info
@info-bg: #def;
@info-fg: #039;
// success
@success-bg: #dfe;
@success-fg: #090;
// warn
@warn-bg: #ffe;
@warn-fg: #993;
// error
@error-bg: #fee;
@error-fg: #933;

// ==========================================================================
// Typography
// ==========================================================================

@font-size: 16;
@line-height: 1.5;

// ==========================================================================
// Font Stacks
// ==========================================================================

@sans: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
@serif: Georgia, 'Lucida Bright', LucidaBright, 'Lucida Serif', Lucida, serif;
@mono: Consolas, Menlo, Monaco, 'Courier New', monospace;

// ==========================================================================
// Grid Setup
// ==========================================================================

@columns: 12;
@column: 68;
@gutter: 24;
// Allows for extra spacing at the edge of the grid
@buffer: 4 * @columns;

// Change these to use a fluid layout with a max-width
@fluid: false;
@max-width: 0;

// ==========================================================================
// Utility Variables
// ==========================================================================

// Convert any value to px with multiplication
@px: 1px;
